* {
    box-sizing:border-box;
    margin:0;
    padding:0
}

a {
    text-decoration:none; 
    display:inline-block 
}

li { 
    list-style:none; 
}

/* Css Main Start here  */

/* navbar basics */
header{ 
    position:relative; 
    z-index:999 
}

.navbar { 
    min-height:64px; 
    padding-top:0.25rem; 
    padding-bottom:0.25rem; 
}

.navbar-brand img{ 
    height:45px; 
}

/* Center mobile logo */
.brand-mobile {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

/* Desktop dropdown on hover (only >= md) */
@media (min-width:768px){
  .navbar .dropdown:hover .dropdown-menu{ display:block; margin-top:0 }
  .navbar .dropdown-menu{ display:none }
}
